@media screen {
  .example-email {
    box-shadow: 0.125em 0.125em 0.75em hsl(0 0 15% / 20%);
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: auto;
    margin-inline-start: auto;
    max-inline-size: 768px;
    outline-color: silver;
    outline-style: solid;
    outline-width: 1px;
    padding-block-end: 2em;
    padding-block-start: 2em;
    padding-inline-end: 2em;
    padding-inline-start: 2em;
  }
}
