.example-login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 300px;
  }

  .example-error {
    color: red;
  }
}
