.utrecht-theme {
  --todo-button-group-gap: var(--utrecht-space-inline-sm);
  --todo-button-group-padding-block-start: var(--utrecht-button-margin-block-start);
  --todo-form-content-max-inline-size: var(--todo-page-content-main-max-inline-size);
  --todo-form-field-group-gap: var(--utrecht-space-inline-sm);
  --todo-form-header-font-family: var(--utrecht-heading-1-font-family);
  --todo-form-header-padding-inline-end: var(--utrecht-page-padding-inline-end);
  --todo-form-header-padding-inline-start: var(--utrecht-page-padding-inline-start);
  --todo-form-header-title-font-size: var(--utrecht-heading-1-font-size);
  --todo-form-header-title-font-weight: var(--utrecht-heading-1-font-weight, var(--utrecht-heading-font-weight, bold));
  --todo-form-stepper-margin-block-end: var(--utrecht-space-block-xl);
  --todo-page-content-main-max-inline-size: 768px;
  --todo-radio-group-gap: var(--utrecht-space-inline-lg);
  --todo-utrecht-form-label-margin-inline-start: var(--utrecht-space-inline-sm);
  --utrecht-button-group-margin-block-start: var(--utrecht-space-block-md);
  --utrecht-document-font-family: "Lucida Grande", "Arial", sans-serif;
  --utrecht-feedback-section-margin-block-end: 0;
  --utrecht-feedback-section-margin-block-start: var(--utrecht-space-block-md);
  --utrecht-form-field-margin-block-start: 13px;
  --utrecht-heading-group-margin-block-start: var(--utrecht-space-block-md);
  --utrecht-layer-drawer-backdrop-z-index: 3000;
  --utrecht-layer-drawer-z-index: 3100;
  --utrecht-layer-fixed-z-index: 2000;
  --utrecht-layer-focus-z-index: 9000;
  --utrecht-layer-modal-backdrop-z-index: 5000;
  --utrecht-layer-modal-dialog-z-index: 5100;
  --utrecht-layer-notification-z-index: 4000;
  --utrecht-layer-sticky-z-index: 1000;
  --utrecht-layer-tooltip-z-index: 6000;
  --utrecht-ordered-list-margin-block-start: var(--utrecht-space-block-md);
  --utrecht-page-footer-max-inline-size: 100%;
  --utrecht-skip-link-background-color: var(--utrecht-topnav-list-background-color);
  --utrecht-skip-link-color: var(--utrecht-topnav-link-color);
  --utrecht-skip-link-focus-background-color: var(--utrecht-topnav-link-focus-background-color);
  --utrecht-skip-link-focus-background-color: var(--utrecht-topnav-link-focus-background-color);
  --utrecht-skip-link-focus-color: var(--utrecht-topnav-link-focus-color);
  --utrecht-skip-link-padding-block-end: var(--utrecht-button-padding-block-end);
  --utrecht-skip-link-padding-block-start: var(--utrecht-button-padding-block-start);
  --utrecht-skip-link-padding-inline-end: var(--utrecht-button-padding-inline-end);
  --utrecht-skip-link-padding-inline-start: var(--utrecht-button-padding-inline-start);
  --utrecht-spotlight-section-margin-block-start: var(--utrecht-space-block-md);
  --utrecht-typography-sans-serif-font-family: "Lucida Grande", "Arial", sans-serif;
  --utrecht-unordered-list-margin-block-start: var(--utrecht-space-block-md);
}
