openapi: 3.0.0
info:
    title: 'Common Gateway'
    description: 'The Common Gateway is a further Dutch development of the European API Platform. API Platform is a project of Les Tilleus and, in itself, an extension of the Symfony framework. API Platform is a tool for delivering APIs based on standardized documentation and is used for various French and German government projects. Including Digital state, a precursor to Xroute, GOV.UK and Common Ground. The project is now part of joinup.eu (the European equivalent of Common Ground).'
    version: 1.0.3
servers:
    -
        url: 'https://api.huwelijksplanner.online/'
        description: 'The kubernetes server'
paths:
    '/brp/ingeschrevenpersonen/{id}':
        get:
            operationId: ingeschrevenpersoon-get-item
            summary: IngeschrevenPersoon
            tags:
                - ingeschrevenpersoon
            description: ''
            parameters:
                -
                    name: id
                    in: path
                    description: ''
                    required: true
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IngeschrevenPersoon'
                        application/xml:
                            schema:
                                $ref: '#/components/schemas/IngeschrevenPersoon'
        put:
            operationId: ingeschrevenpersoon-put-item
            summary: IngeschrevenPersoon
            tags:
                - ingeschrevenpersoon
            description: ''
            parameters:
                -
                    name: id
                    in: path
                    description: ''
                    required: true
                    schema:
                        type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/IngeschrevenPersoon'
                    application/xml:
                        schema:
                            $ref: '#/components/schemas/IngeschrevenPersoon'
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IngeschrevenPersoon'
                        application/xml:
                            schema:
                                $ref: '#/components/schemas/IngeschrevenPersoon'
        patch:
            operationId: ingeschrevenpersoon-patch-item
            summary: IngeschrevenPersoon
            tags:
                - ingeschrevenpersoon
            description: ''
            parameters:
                -
                    name: id
                    in: path
                    description: ''
                    required: true
                    schema:
                        type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/IngeschrevenPersoon'
                    application/xml:
                        schema:
                            $ref: '#/components/schemas/IngeschrevenPersoon'
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IngeschrevenPersoon'
                        application/xml:
                            schema:
                                $ref: '#/components/schemas/IngeschrevenPersoon'
        delete:
            operationId: ingeschrevenpersoon-delete-item
            summary: IngeschrevenPersoon
            tags:
                - ingeschrevenpersoon
            description: ''
            parameters:
                -
                    name: id
                    in: path
                    description: ''
                    required: true
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: string
                                example: 'Object is successfully deleted'
                        application/xml:
                            schema:
                                type: string
                                example: 'Object is successfully deleted'
    /brp/ingeschrevenpersonen:
        get:
            operationId: ingeschrevenpersoon-get-collection
            summary: IngeschrevenPersoon
            tags:
                - ingeschrevenpersoon
            description: ''
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                required:
                                    - count
                                    - results
                                type: object
                                properties:
                                    count:
                                        type: integer
                                        example: 1
                                    next:
                                        type: string
                                        format: uri
                                        nullable: true
                                    previous:
                                        type: string
                                        format: uri
                                        nullable: true
                                    results:
                                        type: array
                                        items: { $ref: '#/components/schemas/IngeschrevenPersoon' }
                        application/xml:
                            schema:
                                required:
                                    - count
                                    - results
                                type: object
                                properties:
                                    count:
                                        type: integer
                                        example: 1
                                    next:
                                        type: string
                                        format: uri
                                        nullable: true
                                    previous:
                                        type: string
                                        format: uri
                                        nullable: true
                                    results:
                                        type: array
                                        items: { $ref: '#/components/schemas/IngeschrevenPersoon' }
            parameters:
                -
                    name: partners
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            aangaanHuwelijkPartnerschap:
                                _list: '/admin/objects?_self.schema.id=e525b9f3-d7db-4fd0-8d23-157b2e9c8364'
                                type: object
                                nullable: true
                            inOnderzoek:
                                _list: '/admin/objects?_self.schema.id=6d359daf-0980-407a-9c7c-1c3a9cef988f'
                                type: object
                                nullable: true
                            geboorte:
                                _list: '/admin/objects?_self.schema.id=953c5c0d-f318-4685-b2ac-397a8de93f8f'
                                type: object
                                nullable: true
                            naam:
                                _list: '/admin/objects?_self.schema.id=c2e3907f-1087-417e-83c5-cb8b9fc6baaa'
                                type: object
                                nullable: true
                            soortVerbintenis:
                                type: string
                                description: "Soort verbintenis die bij de burgerlijke stand is ingeschreven\n* `huwelijk` - H\n* `geregistreerd_partnerschap` - P"
                                enum:
                                    - huwelijk
                                    - geregistreerd_partnerschap
                                nullable: true
                            geslachtsaanduiding:
                                type: string
                                description: "Geeft aan dat de persoon een man of vrouw is, of dat het geslacht (nog) onbekend is\n* `man` - M\n* `vrouw` - V\n* `onbekend` - O"
                                enum:
                                    - man
                                    - vrouw
                                    - onbekend
                                nullable: true
                            burgerservicenummer:
                                type: string
                                example: '555555021'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: ouders
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            geboorte:
                                _list: '/admin/objects?_self.schema.id=953c5c0d-f318-4685-b2ac-397a8de93f8f'
                                type: object
                                nullable: true
                            inOnderzoek:
                                _list: '/admin/objects?_self.schema.id=168e89ff-a612-4920-8950-74f88e821ab0'
                                type: object
                                nullable: true
                            naam:
                                _list: '/admin/objects?_self.schema.id=c2e3907f-1087-417e-83c5-cb8b9fc6baaa'
                                type: object
                                nullable: true
                            datumIngangFamilierechtelijkeBetrekking:
                                _list: '/admin/objects?_self.schema.id=0141801e-7935-4e58-8b2f-bdd18371c012'
                                type: object
                                nullable: true
                            ouderAanduiding:
                                type: string
                                description: "Geeft aan om welke ouder het gaat volgens de BRP\n* `ouder1` - 1\n* `ouder2` - 2"
                                enum:
                                    - ouder1
                                    - ouder2
                                nullable: true
                            geslachtsaanduiding:
                                type: string
                                description: "Geeft aan dat de persoon een man of vrouw is, of dat het geslacht (nog) onbekend is\n* `man` - M\n* `vrouw` - V\n* `onbekend` - O"
                                enum:
                                    - man
                                    - vrouw
                                    - onbekend
                                nullable: true
                            burgerservicenummer:
                                type: string
                                example: '555555021'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: kinderen
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            geboorte:
                                _list: '/admin/objects?_self.schema.id=953c5c0d-f318-4685-b2ac-397a8de93f8f'
                                type: object
                                nullable: true
                            inOnderzoek:
                                _list: '/admin/objects?_self.schema.id=3e317076-c789-4b37-b61f-ff224b2bcac7'
                                type: object
                                nullable: true
                            naam:
                                _list: '/admin/objects?_self.schema.id=c2e3907f-1087-417e-83c5-cb8b9fc6baaa'
                                type: object
                                nullable: true
                            leeftijd:
                                type: integer
                                description: 'Leeftijd op het moment van bevragen'
                                example: '12'
                                nullable: true
                            burgerservicenummer:
                                type: string
                                example: '555555021'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: verblijfstitel
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            inOnderzoek:
                                _list: '/admin/objects?_self.schema.id=ec1b320b-576c-43f2-be12-fb90a311a691'
                                type: object
                                nullable: true
                            datumIngang:
                                _list: '/admin/objects?_self.schema.id=0141801e-7935-4e58-8b2f-bdd18371c012'
                                type: object
                                nullable: true
                            datumEinde:
                                _list: '/admin/objects?_self.schema.id=0141801e-7935-4e58-8b2f-bdd18371c012'
                                type: object
                                nullable: true
                            aanduiding:
                                _list: '/admin/objects?_self.schema.id=803328a5-1008-4709-9e57-84baf97a8737'
                                type: object
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: opschortingBijhouding
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            datumOnvolledig:
                                _list: '/admin/objects?_self.schema.id=0141801e-7935-4e58-8b2f-bdd18371c012'
                                type: object
                                nullable: true
                            reden:
                                type: string
                                description: "Redenen voor opschorting van de bijhouding\n* `overlijden` - O\n* `emigratie` - E\n* `ministerieel_besluit` - M\n* `pl_aangelegd_in_de_rni` - R - opgeschort omdat persoon is ingeschreven in het Register Niet Ingezeten (RNI).\n* `fout` - F"
                                enum:
                                    - overlijden
                                    - emigratie
                                    - ministerieel_besluit
                                    - pl_aangelegd_in_de_rni
                                    - fout
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: geboorte
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            inOnderzoek:
                                _list: '/admin/objects?_self.schema.id=99dd8b80-ab20-4788-9e35-680f662fcc3b'
                                type: object
                                nullable: true
                            plaats:
                                _list: '/admin/objects?_self.schema.id=803328a5-1008-4709-9e57-84baf97a8737'
                                type: object
                                nullable: true
                            land:
                                _list: '/admin/objects?_self.schema.id=803328a5-1008-4709-9e57-84baf97a8737'
                                type: object
                                nullable: true
                            datumOnvolledig:
                                _list: '/admin/objects?_self.schema.id=0141801e-7935-4e58-8b2f-bdd18371c012'
                                type: object
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: nationaliteiten
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            inOnderzoek:
                                _list: '/admin/objects?_self.schema.id=a3bf298d-48be-45d2-a97b-8dfe948c83fd'
                                type: object
                                nullable: true
                            redenOpname:
                                _list: '/admin/objects?_self.schema.id=803328a5-1008-4709-9e57-84baf97a8737'
                                type: object
                                nullable: true
                            nationaliteit:
                                _list: '/admin/objects?_self.schema.id=803328a5-1008-4709-9e57-84baf97a8737'
                                type: object
                                nullable: true
                            datumIngangGeldigheid:
                                _list: '/admin/objects?_self.schema.id=0141801e-7935-4e58-8b2f-bdd18371c012'
                                type: object
                                nullable: true
                            aanduidingBijzonderNederlanderschap:
                                type: string
                                description: "Geeft aan dat de persoon behandeld wordt als Nederlander, of dat door de rechter is vastgesteld dat de persoon niet de Nederlandse nationaliteit bezit\n* `behandeld_als_nederlander` - B\n* `vastgesteld_niet_nederlander` - V\n"
                                enum:
                                    - behandeld_als_nederlander
                                    - vastgesteld_niet_nederlander
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: inOnderzoek
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            datumIngangOnderzoek:
                                _list: '/admin/objects?_self.schema.id=0141801e-7935-4e58-8b2f-bdd18371c012'
                                type: object
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                            geslachtsaanduiding:
                                type: boolean
                                nullable: true
                            burgerservicenummer:
                                type: boolean
                                nullable: true
                -
                    name: naam
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            inOnderzoek:
                                _list: '/admin/objects?_self.schema.id=803328a5-1008-4709-9e57-84baf97a8737'
                                type: object
                                nullable: true
                            adellijkeTitelPredikaat:
                                _list: '/admin/objects?_self.schema.id=803328a5-1008-4709-9e57-84baf97a8737'
                                type: object
                                nullable: true
                            aanduidingNaamgebruik:
                                type: string
                                description: "De manier waarop de geslachtsnaam van persoon en partner van persoon moet worden verwerkt in de manier waarop persoon wil worden aangesproken\n* `eigen` - E - gebruik alleen de eigen naam\n* `eigen_partner` - N - gebruik de eigen naam voor de partnernaam\n* `partner` - P gebruik alleen de partnernaam\n* `partner_eigen` - V - gebruik de partnernaam voor de eigen naam.\n\n\nDe aanduiding naamgebruik is verwerkt in Aanhef, Aanschrijfwijze en gebruikInLopendeTekst.\"\n"
                                enum:
                                    - eigen
                                    - eigen_partner
                                    - partner
                                    - partner_eigen
                                nullable: true
                            gebruikInLopendeTekst:
                                type: string
                                description: 'Naam van persoon die je kunt gebruiken als je in lopende tekst (bijvoorbeeld in een brief) aan persoon refereert.'
                                example: 'baron Van den Aedel'
                                nullable: true
                            regelVoorafgaandAanAanschrijfwijze:
                                type: string
                                description: 'Deze regel moet als aparte regel boven de aanschrijfwijze worden geplaatst. Komt alleen voor bij personen met een adellijke titel of predicaat.'
                                example: 'De hoogwelgeboren heer'
                                nullable: true
                            aanschrijfwijze:
                                type: string
                                description: 'Samengestelde naam die je kunt gebruiken in de communicatie met de persoon.'
                                example: 'H.W. baron van den Aedel'
                                nullable: true
                            aanhef:
                                type: string
                                description: 'Kun je gebruiken als aanhef in een brief gericht aan persoon.'
                                example: 'Hoogwelgeboren heer'
                                nullable: true
                            voorvoegsel:
                                type: string
                                example: de
                                nullable: true
                            voornamen:
                                type: string
                                description: 'De verzameling namen voor de geslachtsnaam, gescheiden door spaties.'
                                example: 'Pieter Jan'
                                nullable: true
                            voorletters:
                                type: string
                                description: 'De voorletters van de persoon, afgeleid van de voornamen.'
                                example: P.J.
                                nullable: true
                            geslachtsnaam:
                                type: string
                                description: 'De achternaam van een persoon.'
                                example: Vries
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: kiesrecht
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            einddatumUitsluitingKiesrecht:
                                _list: '/admin/objects?_self.schema.id=0141801e-7935-4e58-8b2f-bdd18371c012'
                                type: object
                                nullable: true
                            einddatumUitsluitingEuropeesKiesrecht:
                                _list: '/admin/objects?_self.schema.id=0141801e-7935-4e58-8b2f-bdd18371c012'
                                type: object
                                nullable: true
                            uitgeslotenVanKiesrecht:
                                type: boolean
                                example: '1'
                                nullable: true
                            europeesKiesrecht:
                                type: boolean
                                description: "Geeft aan of persoon een oproep moet ontvangen voor verkiezingen voor het Europees parlement.\n"
                                example: '1'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: datumEersteInschrijvingGBA
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            maand:
                                type: integer
                                description: 'Als de maand van een datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '5'
                                nullable: true
                            jaar:
                                type: integer
                                description: 'Als het jaar van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '1989'
                                nullable: true
                            datum:
                                type: string
                                format: date
                                description: 'Als de volledige datum bekend is wordt de datum gevuld die in de date definitie past.'
                                example: '1989-05-03'
                                nullable: true
                            dag:
                                type: integer
                                description: 'Als de dag van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '3'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: 'reisdocumentnummers[]'
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: array
                        properties:
                            maand:
                                type: integer
                                description: 'Als de maand van een datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '5'
                                nullable: true
                            jaar:
                                type: integer
                                description: 'Als het jaar van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '1989'
                                nullable: true
                            datum:
                                type: string
                                format: date
                                description: 'Als de volledige datum bekend is wordt de datum gevuld die in de date definitie past.'
                                example: '1989-05-03'
                                nullable: true
                            dag:
                                type: integer
                                description: 'Als de dag van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '3'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                        items:
                            type: string
                -
                    name: leeftijd
                    in: query
                    description: 'Leeftijd in jaren op het moment van bevragen.'
                    required: false
                    schema:
                        type: integer
                        properties:
                            maand:
                                type: integer
                                description: 'Als de maand van een datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '5'
                                nullable: true
                            jaar:
                                type: integer
                                description: 'Als het jaar van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '1989'
                                nullable: true
                            datum:
                                type: string
                                format: date
                                description: 'Als de volledige datum bekend is wordt de datum gevuld die in de date definitie past.'
                                example: '1989-05-03'
                                nullable: true
                            dag:
                                type: integer
                                description: 'Als de dag van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '3'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: geslachtsaanduiding
                    in: query
                    description: "Geeft aan dat de persoon een man of vrouw is, of dat het geslacht (nog) onbekend is\n* `man` - M\n* `vrouw` - V\n* `onbekend` - O"
                    required: false
                    schema:
                        type: string
                        properties:
                            maand:
                                type: integer
                                description: 'Als de maand van een datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '5'
                                nullable: true
                            jaar:
                                type: integer
                                description: 'Als het jaar van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '1989'
                                nullable: true
                            datum:
                                type: string
                                format: date
                                description: 'Als de volledige datum bekend is wordt de datum gevuld die in de date definitie past.'
                                example: '1989-05-03'
                                nullable: true
                            dag:
                                type: integer
                                description: 'Als de dag van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '3'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: geheimhoudingPersoonsgegevens
                    in: query
                    description: 'Gegevens mogen niet worden verstrekt aan derden / maatschappelijke instellingen.'
                    required: false
                    schema:
                        type: boolean
                        properties:
                            maand:
                                type: integer
                                description: 'Als de maand van een datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '5'
                                nullable: true
                            jaar:
                                type: integer
                                description: 'Als het jaar van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '1989'
                                nullable: true
                            datum:
                                type: string
                                format: date
                                description: 'Als de volledige datum bekend is wordt de datum gevuld die in de date definitie past.'
                                example: '1989-05-03'
                                nullable: true
                            dag:
                                type: integer
                                description: 'Als de dag van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '3'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: aNummer
                    in: query
                    description: 'Het A-nummer van de persoon.'
                    required: false
                    schema:
                        type: string
                        properties:
                            maand:
                                type: integer
                                description: 'Als de maand van een datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '5'
                                nullable: true
                            jaar:
                                type: integer
                                description: 'Als het jaar van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '1989'
                                nullable: true
                            datum:
                                type: string
                                format: date
                                description: 'Als de volledige datum bekend is wordt de datum gevuld die in de date definitie past.'
                                example: '1989-05-03'
                                nullable: true
                            dag:
                                type: integer
                                description: 'Als de dag van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '3'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: burgerservicenummer
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: string
                        properties:
                            maand:
                                type: integer
                                description: 'Als de maand van een datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '5'
                                nullable: true
                            jaar:
                                type: integer
                                description: 'Als het jaar van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '1989'
                                nullable: true
                            datum:
                                type: string
                                format: date
                                description: 'Als de volledige datum bekend is wordt de datum gevuld die in de date definitie past.'
                                example: '1989-05-03'
                                nullable: true
                            dag:
                                type: integer
                                description: 'Als de dag van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '3'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: id
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: string
                        format: uuid
                        properties:
                            maand:
                                type: integer
                                description: 'Als de maand van een datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '5'
                                nullable: true
                            jaar:
                                type: integer
                                description: 'Als het jaar van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '1989'
                                nullable: true
                            datum:
                                type: string
                                format: date
                                description: 'Als de volledige datum bekend is wordt de datum gevuld die in de date definitie past.'
                                example: '1989-05-03'
                                nullable: true
                            dag:
                                type: integer
                                description: 'Als de dag van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.'
                                example: '3'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: gezagsverhouding
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            inOnderzoek:
                                _list: '/admin/objects?_self.schema.id=a87db5d5-d73b-4943-b8d5-06f831c123ee'
                                type: object
                                nullable: true
                            indicatieGezagMinderjarige:
                                type: string
                                description: "Geeft aan wie het gezag heeft over de minderjarige persoon.\n* `ouder1` - 1\n* `ouder2` - 2\n* `derden` - D\n* `ouder1_en_derde` - 1D\n* `ouder2_en_derde` - 2D\n* `ouder1_en_ouder2` - 12"
                                enum:
                                    - ouder1
                                    - ouder2
                                    - derden
                                    - ouder1_en_derde
                                    - ouder2_en_derde
                                    - ouder1_en_ouder2
                                nullable: true
                            indicatieCurateleRegister:
                                type: boolean
                                description: 'Geeft aan dat de persoon onder curatele is gesteld.'
                                example: '1'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: verblijfplaats
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            inOnderzoek:
                                _list: '/admin/objects?_self.schema.id=6aa49555-763c-4c1d-bce2-ef5d0304bbe1'
                                type: object
                                nullable: true
                            land:
                                _list: '/admin/objects?_self.schema.id=803328a5-1008-4709-9e57-84baf97a8737'
                                type: object
                                nullable: true
                            landVanwaarIngeschreven:
                                _list: '/admin/objects?_self.schema.id=803328a5-1008-4709-9e57-84baf97a8737'
                                type: object
                                nullable: true
                            gemeenteVanInschrijving:
                                _list: '/admin/objects?_self.schema.id=803328a5-1008-4709-9e57-84baf97a8737'
                                type: object
                                nullable: true
                            datumVestigingInNederland:
                                _list: '/admin/objects?_self.schema.id=0141801e-7935-4e58-8b2f-bdd18371c012'
                                type: object
                                nullable: true
                            datumInschrijvingInGemeente:
                                _list: '/admin/objects?_self.schema.id=0141801e-7935-4e58-8b2f-bdd18371c012'
                                type: object
                                nullable: true
                            datumIngangGeldigheid:
                                _list: '/admin/objects?_self.schema.id=0141801e-7935-4e58-8b2f-bdd18371c012'
                                type: object
                                nullable: true
                            datumAanvangAdreshouding:
                                _list: '/admin/objects?_self.schema.id=0141801e-7935-4e58-8b2f-bdd18371c012'
                                type: object
                                nullable: true
                            vertrokkenOnbekendWaarheen:
                                type: boolean
                                description: 'Indicatie dat de ingeschreven persoon is vertrokken naar het buitenland, maar dat niet bekend is waar naar toe.'
                                nullable: true
                            adresregel3:
                                type: string
                                description: 'Het derde deel van een adres is optioneel. Het gaat om een of meer geografische gebieden van het adres in het buitenland.'
                                example: Selangor
                                nullable: true
                            adresregel2:
                                type: string
                                description: 'Het tweede deel van een adres is een combinatie van woonplaats eventueel in combinatie met de postcode.'
                                example: '1234AA Nootdorp'
                                nullable: true
                            adresregel1:
                                type: string
                                description: 'Het eerste deel van een adres is een combinatie van de straat en huisnummer.'
                                example: 'Laan van de landinrichtingscommissie Duiven-Westervoort 26A-3'
                                nullable: true
                            vanuitVertrokkenOnbekendWaarheen:
                                type: boolean
                                description: 'Geeft aan dat de persoon is teruggekeerd uit een situatie van ''vertrokken onbekend waarheen.'''
                                example: '1'
                                nullable: true
                            korteNaam:
                                type: string
                                description: 'De officiële openbareruimtenaam uit de Basisregistratie Gebouwen en Adressen (BAG) of een verkorte versie.'
                                nullable: true
                            locatiebeschrijving:
                                type: string
                                description: 'Omschrijving van de ligging van een verblijfsobject, standplaats of ligplaats.'
                                example: 'Naast de derde brug'
                                nullable: true
                            indicatieVestigingVanuitBuitenland:
                                type: boolean
                                description: 'Geeft aan dat de ingeschreven persoon zich vanuit het buitenland heeft ingeschreven.'
                                nullable: true
                            functieAdres:
                                type: string
                                description: "Aanduiding van het soort adres\n* `woonadres` - W - adres waar de persoon woont\n* `briefadres` - B - het adres van een andere persoon of van een instelling (de zogenoemde briefadresgever). Met dit adres van de briefadresgever is de persoon zonder woonadres toch bereikbaar voor de overheid.\n"
                                enum:
                                    - woonadres
                                    - briefadres
                                nullable: true
                            nummeraanduidingIdentificatie:
                                type: string
                                description: 'Unieke identificatie van een nummeraanduiding (en het bijbehorende adres) in de BAG.'
                                example: '0518200000366054'
                                nullable: true
                            aanduidingBijHuisnummer:
                                type: string
                                description: "De aanduiding die wordt gebruikt voor adressen die geen straatnaam en huisnummeraanduidingen hebben\n* `tegenover` - to\n* `bij` - by\n"
                                enum:
                                    - tegenover
                                    - bij
                                nullable: true
                            adresseerbaarObjectIdentificatie:
                                type: string
                                description: 'De verblijfplaats van de persoon kan een ligplaats, een standplaats of een verblijfsobject zijn.'
                                example: '0226010000038820'
                                nullable: true
                            woonplaats:
                                type: string
                                description: 'Een woonplaats is een gedeelte van het grondgebied van de gemeente met een naam.'
                                example: Duiven
                                nullable: true
                            postcode:
                                type: string
                                description: 'De door PostNL vastgestelde code die bij een bepaalde combinatie van een straatnaam en een huisnummer hoort.'
                                example: 6922KZ
                                nullable: true
                            huisnummertoevoeging:
                                type: string
                                description: 'Een toevoeging aan een huisnummer of een combinatie van huisnummer en huisletter die door de gemeente aan een adresseerbaar object is gegeven.'
                                example: bis
                                nullable: true
                            huisletter:
                                type: string
                                description: 'Een toevoeging aan een huisnummer in de vorm van een letter die door de gemeente aan een adresseerbaar object is gegeven.'
                                example: A
                                nullable: true
                            huisnummer:
                                type: integer
                                description: 'Een nummer dat door de gemeente aan een adresseerbaar object is gegeven.'
                                example: '1'
                                nullable: true
                            straat:
                                type: string
                                description: 'Een naam die door de gemeente aan een openbare ruimte is gegeven.'
                                example: 'Laan van de landinrichtingscommissie Duiven-Westervoort'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: overlijden
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            inOnderzoek:
                                _list: '/admin/objects?_self.schema.id=93b45de2-0110-4c97-b681-8faec512140e'
                                type: object
                                nullable: true
                            plaats:
                                _list: '/admin/objects?_self.schema.id=803328a5-1008-4709-9e57-84baf97a8737'
                                type: object
                                nullable: true
                            land:
                                _list: '/admin/objects?_self.schema.id=803328a5-1008-4709-9e57-84baf97a8737'
                                type: object
                                nullable: true
                            datumOnvolledig:
                                _list: '/admin/objects?_self.schema.id=0141801e-7935-4e58-8b2f-bdd18371c012'
                                type: object
                                nullable: true
                            indicatieOverleden:
                                type: boolean
                                description: 'Geeft aan dat iemand is overleden (waarde true), ongeacht of de overlijdensdatum bekend is.'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
        post:
            operationId: ingeschrevenpersoon-post-item
            summary: IngeschrevenPersoon
            tags:
                - ingeschrevenpersoon
            description: ''
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/IngeschrevenPersoon'
                    application/xml:
                        schema:
                            $ref: '#/components/schemas/IngeschrevenPersoon'
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IngeschrevenPersoon'
                        application/xml:
                            schema:
                                $ref: '#/components/schemas/IngeschrevenPersoon'
    '/hp/assents/{id}':
        get:
            operationId: assent-get-item
            summary: Assent
            tags:
                - assent
            description: ''
            parameters:
                -
                    name: id
                    in: path
                    description: ''
                    required: true
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Assent'
                        application/xml:
                            schema:
                                $ref: '#/components/schemas/Assent'
        put:
            operationId: assent-put-item
            summary: Assent
            tags:
                - assent
            description: ''
            parameters:
                -
                    name: id
                    in: path
                    description: ''
                    required: true
                    schema:
                        type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Assent'
                    application/xml:
                        schema:
                            $ref: '#/components/schemas/Assent'
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Assent'
                        application/xml:
                            schema:
                                $ref: '#/components/schemas/Assent'
        patch:
            operationId: assent-patch-item
            summary: Assent
            tags:
                - assent
            description: ''
            parameters:
                -
                    name: id
                    in: path
                    description: ''
                    required: true
                    schema:
                        type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Assent'
                    application/xml:
                        schema:
                            $ref: '#/components/schemas/Assent'
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Assent'
                        application/xml:
                            schema:
                                $ref: '#/components/schemas/Assent'
        delete:
            operationId: assent-delete-item
            summary: Assent
            tags:
                - assent
            description: ''
            parameters:
                -
                    name: id
                    in: path
                    description: ''
                    required: true
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: string
                                example: 'Object is successfully deleted'
                        application/xml:
                            schema:
                                type: string
                                example: 'Object is successfully deleted'
    /hp/assents:
        get:
            operationId: assent-get-collection
            summary: Assent
            tags:
                - assent
            description: ''
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                required:
                                    - count
                                    - results
                                type: object
                                properties:
                                    count:
                                        type: integer
                                        example: 1
                                    next:
                                        type: string
                                        format: uri
                                        nullable: true
                                    previous:
                                        type: string
                                        format: uri
                                        nullable: true
                                    results:
                                        type: array
                                        items: { $ref: '#/components/schemas/Assent' }
                        application/xml:
                            schema:
                                required:
                                    - count
                                    - results
                                type: object
                                properties:
                                    count:
                                        type: integer
                                        example: 1
                                    next:
                                        type: string
                                        format: uri
                                        nullable: true
                                    previous:
                                        type: string
                                        format: uri
                                        nullable: true
                                    results:
                                        type: array
                                        items: { $ref: '#/components/schemas/Assent' }
            parameters:
                -
                    name: results
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: object
                        properties:
                            display:
                                type: string
                                example: 'Uw heeft uw huwelijk betaald'
                                nullable: true
                            result:
                                type: boolean
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: revocable
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: boolean
                        properties:
                            display:
                                type: string
                                example: 'Uw heeft uw huwelijk betaald'
                                nullable: true
                            result:
                                type: boolean
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: requester
                    in: query
                    description: 'The organisation (RSIN) or person (BSN) that is responsible for making this assent'
                    required: true
                    schema:
                        type: string
                        properties:
                            display:
                                type: string
                                example: 'Uw heeft uw huwelijk betaald'
                                nullable: true
                            result:
                                type: boolean
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: status
                    in: query
                    description: 'The status of this assent e.g. requested, granted, declined, cancelled, withdrawn'
                    required: false
                    schema:
                        type: string
                        properties:
                            display:
                                type: string
                                example: 'Uw heeft uw huwelijk betaald'
                                nullable: true
                            result:
                                type: boolean
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: process
                    in: query
                    description: 'The process that this assent originated from'
                    required: false
                    schema:
                        type: string
                        properties:
                            display:
                                type: string
                                example: 'Uw heeft uw huwelijk betaald'
                                nullable: true
                            result:
                                type: boolean
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: property
                    in: query
                    description: 'The property of a request that this assent applies to e.g. partner in meldingvoorgenomenhuwelijk'
                    required: false
                    schema:
                        type: string
                        properties:
                            display:
                                type: string
                                example: 'Uw heeft uw huwelijk betaald'
                                nullable: true
                            result:
                                type: boolean
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: forwardUrl
                    in: query
                    description: 'The request that this assent applies to'
                    required: false
                    schema:
                        type: string
                        properties:
                            display:
                                type: string
                                example: 'Uw heeft uw huwelijk betaald'
                                nullable: true
                            result:
                                type: boolean
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: request
                    in: query
                    description: 'The request that this assent applies to'
                    required: false
                    schema:
                        type: string
                        properties:
                            display:
                                type: string
                                example: 'Uw heeft uw huwelijk betaald'
                                nullable: true
                            result:
                                type: boolean
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: description
                    in: query
                    description: 'The description of this assent is displayed to end users as additional information and should make clear what they are assending to'
                    required: false
                    schema:
                        type: string
                        properties:
                            display:
                                type: string
                                example: 'Uw heeft uw huwelijk betaald'
                                nullable: true
                            result:
                                type: boolean
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: name
                    in: query
                    description: 'The name of this assent is displayed as a title to end users and should make clear what they are assending to'
                    required: true
                    schema:
                        type: string
                        properties:
                            display:
                                type: string
                                example: 'Uw heeft uw huwelijk betaald'
                                nullable: true
                            result:
                                type: boolean
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: contact
                    in: query
                    description: 'The contact that this assent applies to'
                    required: false
                    schema:
                        type: object
                        properties:
                            subjectIdentificatie:
                                _list: '/admin/objects?_self.schema.id=5582b9ad-86eb-40ea-ae0b-e8d1dbe44443'
                                type: object
                                nullable: true
                            adressen:
                                _list: '/admin/objects?_self.schema.id=4b7d015d-8f47-4edd-b558-69de2e3dd710'
                                type: object
                                nullable: true
                                multiple: true
                            emails:
                                _list: '/admin/objects?_self.schema.id=646d9f88-01d5-482f-99fd-466a2440d5b3'
                                type: object
                                nullable: true
                                multiple: true
                            telefoonnummers:
                                _list: '/admin/objects?_self.schema.id=805b5d7a-c6c2-4ea3-9d57-2eb104a0c89b'
                                type: object
                                nullable: true
                                multiple: true
                            subjectType:
                                type: string
                                description: "Type van de `subject`.\n\nUitleg bij mogelijke waarden:\n\n* `natuurlijk_persoon` - Natuurlijk persoon\n* `niet_natuurlijk_persoon` - Niet-natuurlijk persoon\n* `vestiging` - Vestiging"
                                nullable: true
                            subject:
                                type: string
                                format: uri
                                description: 'URL-referentie naar een subject'
                                nullable: true
                            achternaam:
                                type: string
                                description: 'De achternaam van de klant.'
                                nullable: true
                            voorvoegselAchternaam:
                                type: string
                                description: 'Het voorvoegsel van de achternaam van de klant.'
                                nullable: true
                            voornaam:
                                type: string
                                description: 'De voornaam, voorletters of roepnaam van de klant.'
                                nullable: true
                            websiteUrl:
                                type: string
                                format: uri
                                description: 'Het label of etiket dat aan de specifieke informatiebron, zoals een webpagina, een bestand of een plaatje op internet is toegewezen waar de KLANT in de regel op het internet vindbaar is.'
                                nullable: true
                            functie:
                                type: string
                                description: 'De functie van de klant.'
                                nullable: true
                            bedrijfsnaam:
                                type: string
                                description: 'De bedrijfsnaam van de klant.'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                            klantnummer:
                                type: string
                                description: 'De unieke identificatie van de klant binnen de bronorganisatie.'
                                nullable: true
                            bronorganisatie:
                                type: string
                                description: 'Het RSIN van de Niet-natuurlijk persoon zijnde de organisatie die de klant heeft gecreeerd. Dit moet een geldig RSIN zijn van 9 nummers en voldoen aan https://nl.wikipedia.org/wiki/Burgerservicenummer#11-proef'
                                nullable: true
                            url:
                                type: string
                                format: uri
                                description: 'URL-referentie naar dit object. Dit is de unieke identificatie en locatie van dit object'
                                nullable: true
                -
                    name: id
                    in: query
                    description: ''
                    required: false
                    schema:
                        type: string
                        format: uuid
                        properties:
                            subjectIdentificatie:
                                _list: '/admin/objects?_self.schema.id=5582b9ad-86eb-40ea-ae0b-e8d1dbe44443'
                                type: object
                                nullable: true
                            adressen:
                                _list: '/admin/objects?_self.schema.id=4b7d015d-8f47-4edd-b558-69de2e3dd710'
                                type: object
                                nullable: true
                                multiple: true
                            emails:
                                _list: '/admin/objects?_self.schema.id=646d9f88-01d5-482f-99fd-466a2440d5b3'
                                type: object
                                nullable: true
                                multiple: true
                            telefoonnummers:
                                _list: '/admin/objects?_self.schema.id=805b5d7a-c6c2-4ea3-9d57-2eb104a0c89b'
                                type: object
                                nullable: true
                                multiple: true
                            subjectType:
                                type: string
                                description: "Type van de `subject`.\n\nUitleg bij mogelijke waarden:\n\n* `natuurlijk_persoon` - Natuurlijk persoon\n* `niet_natuurlijk_persoon` - Niet-natuurlijk persoon\n* `vestiging` - Vestiging"
                                nullable: true
                            subject:
                                type: string
                                format: uri
                                description: 'URL-referentie naar een subject'
                                nullable: true
                            achternaam:
                                type: string
                                description: 'De achternaam van de klant.'
                                nullable: true
                            voorvoegselAchternaam:
                                type: string
                                description: 'Het voorvoegsel van de achternaam van de klant.'
                                nullable: true
                            voornaam:
                                type: string
                                description: 'De voornaam, voorletters of roepnaam van de klant.'
                                nullable: true
                            websiteUrl:
                                type: string
                                format: uri
                                description: 'Het label of etiket dat aan de specifieke informatiebron, zoals een webpagina, een bestand of een plaatje op internet is toegewezen waar de KLANT in de regel op het internet vindbaar is.'
                                nullable: true
                            functie:
                                type: string
                                description: 'De functie van de klant.'
                                nullable: true
                            bedrijfsnaam:
                                type: string
                                description: 'De bedrijfsnaam van de klant.'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                            klantnummer:
                                type: string
                                description: 'De unieke identificatie van de klant binnen de bronorganisatie.'
                                nullable: true
                            bronorganisatie:
                                type: string
                                description: 'Het RSIN van de Niet-natuurlijk persoon zijnde de organisatie die de klant heeft gecreeerd. Dit moet een geldig RSIN zijn van 9 nummers en voldoen aan https://nl.wikipedia.org/wiki/Burgerservicenummer#11-proef'
                                nullable: true
                            url:
                                type: string
                                format: uri
                                description: 'URL-referentie naar dit object. Dit is de unieke identificatie en locatie van dit object'
                                nullable: true
                -
                    name: token
                    in: query
                    description: 'A secret token used to validate the assent'
                    required: false
                    schema:
                        type: string
                        properties:
                            subjectIdentificatie:
                                _list: '/admin/objects?_self.schema.id=5582b9ad-86eb-40ea-ae0b-e8d1dbe44443'
                                type: object
                                nullable: true
                            adressen:
                                _list: '/admin/objects?_self.schema.id=4b7d015d-8f47-4edd-b558-69de2e3dd710'
                                type: object
                                nullable: true
                                multiple: true
                            emails:
                                _list: '/admin/objects?_self.schema.id=646d9f88-01d5-482f-99fd-466a2440d5b3'
                                type: object
                                nullable: true
                                multiple: true
                            telefoonnummers:
                                _list: '/admin/objects?_self.schema.id=805b5d7a-c6c2-4ea3-9d57-2eb104a0c89b'
                                type: object
                                nullable: true
                                multiple: true
                            subjectType:
                                type: string
                                description: "Type van de `subject`.\n\nUitleg bij mogelijke waarden:\n\n* `natuurlijk_persoon` - Natuurlijk persoon\n* `niet_natuurlijk_persoon` - Niet-natuurlijk persoon\n* `vestiging` - Vestiging"
                                nullable: true
                            subject:
                                type: string
                                format: uri
                                description: 'URL-referentie naar een subject'
                                nullable: true
                            achternaam:
                                type: string
                                description: 'De achternaam van de klant.'
                                nullable: true
                            voorvoegselAchternaam:
                                type: string
                                description: 'Het voorvoegsel van de achternaam van de klant.'
                                nullable: true
                            voornaam:
                                type: string
                                description: 'De voornaam, voorletters of roepnaam van de klant.'
                                nullable: true
                            websiteUrl:
                                type: string
                                format: uri
                                description: 'Het label of etiket dat aan de specifieke informatiebron, zoals een webpagina, een bestand of een plaatje op internet is toegewezen waar de KLANT in de regel op het internet vindbaar is.'
                                nullable: true
                            functie:
                                type: string
                                description: 'De functie van de klant.'
                                nullable: true
                            bedrijfsnaam:
                                type: string
                                description: 'De bedrijfsnaam van de klant.'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                            klantnummer:
                                type: string
                                description: 'De unieke identificatie van de klant binnen de bronorganisatie.'
                                nullable: true
                            bronorganisatie:
                                type: string
                                description: 'Het RSIN van de Niet-natuurlijk persoon zijnde de organisatie die de klant heeft gecreeerd. Dit moet een geldig RSIN zijn van 9 nummers en voldoen aan https://nl.wikipedia.org/wiki/Burgerservicenummer#11-proef'
                                nullable: true
                            url:
                                type: string
                                format: uri
                                description: 'URL-referentie naar dit object. Dit is de unieke identificatie en locatie van dit object'
                                nullable: true
        post:
            operationId: assent-post-item
            summary: Assent
            tags:
                - assent
            description: ''
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Assent'
                    application/xml:
                        schema:
                            $ref: '#/components/schemas/Assent'
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Assent'
                        application/xml:
                            schema:
                                $ref: '#/components/schemas/Assent'
    '/hp/calendars/{id}':
        get:
            operationId: calendar-get-item
            summary: Calendar
            tags:
                - calendar
            description: 'A Calendar is a collection of event ties to an unque person or resource.'
            parameters:
                -
                    name: id
                    in: path
                    description: ''
                    required: true
                    schema:
                        type: string
            responses:
                200:
                    description: 'A Calendar is a collection of event ties to an unque person or resource.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Calendar'
                        application/xml:
                            schema:
                                $ref: '#/components/schemas/Calendar'
        put:
            operationId: calendar-put-item
            summary: Calendar
            tags:
                - calendar
            description: 'A Calendar is a collection of event ties to an unque person or resource.'
            parameters:
                -
                    name: id
                    in: path
                    description: ''
                    required: true
                    schema:
                        type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Calendar'
                    application/xml:
                        schema:
                            $ref: '#/components/schemas/Calendar'
            responses:
                200:
                    description: 'A Calendar is a collection of event ties to an unque person or resource.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Calendar'
                        application/xml:
                            schema:
                                $ref: '#/components/schemas/Calendar'
        patch:
            operationId: calendar-patch-item
            summary: Calendar
            tags:
                - calendar
            description: 'A Calendar is a collection of event ties to an unque person or resource.'
            parameters:
                -
                    name: id
                    in: path
                    description: ''
                    required: true
                    schema:
                        type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Calendar'
                    application/xml:
                        schema:
                            $ref: '#/components/schemas/Calendar'
            responses:
                200:
                    description: 'A Calendar is a collection of event ties to an unque person or resource.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Calendar'
                        application/xml:
                            schema:
                                $ref: '#/components/schemas/Calendar'
        delete:
            operationId: calendar-delete-item
            summary: Calendar
            tags:
                - calendar
            description: 'A Calendar is a collection of event ties to an unque person or resource.'
            parameters:
                -
                    name: id
                    in: path
                    description: ''
                    required: true
                    schema:
                        type: string
            responses:
                200:
                    description: 'A Calendar is a collection of event ties to an unque person or resource.'
                    content:
                        application/json:
                            schema:
                                type: string
                                example: 'Object is successfully deleted'
                        application/xml:
                            schema:
                                type: string
                                example: 'Object is successfully deleted'
    /hp/calendars:
        get:
            operationId: calendar-get-collection
            summary: Calendar
            tags:
                - calendar
            description: 'A Calendar is a collection of event ties to an unque person or resource.'
            responses:
                200:
                    description: OK
                    content:
                        application/json:
                            schema:
                                required:
                                    - count
                                    - results
                                type: object
                                properties:
                                    count:
                                        type: integer
                                        example: 1
                                    next:
                                        type: string
                                        format: uri
                                        nullable: true
                                    previous:
                                        type: string
                                        format: uri
                                        nullable: true
                                    results:
                                        type: array
                                        items: { $ref: '#/components/schemas/Calendar' }
                        application/xml:
                            schema:
                                required:
                                    - count
                                    - results
                                type: object
                                properties:
                                    count:
                                        type: integer
                                        example: 1
                                    next:
                                        type: string
                                        format: uri
                                        nullable: true
                                    previous:
                                        type: string
                                        format: uri
                                        nullable: true
                                    results:
                                        type: array
                                        items: { $ref: '#/components/schemas/Calendar' }
            parameters:
                -
                    name: availabilities
                    in: query
                    description: 'Availability that belong to this Calendar.'
                    required: false
                    schema:
                        type: object
                        properties:
                            calendar:
                                type: string
                                nullable: true
                            resource:
                                type: string
                                description: 'A specific commonground resource'
                                nullable: true
                            available:
                                type: boolean
                                description: 'Whether the block is available or not.'
                                nullable: true
                            endDate:
                                type: string
                                format: datetime
                                description: 'The end of the availability block.'
                                nullable: true
                            startDate:
                                type: string
                                format: datetime
                                description: 'The start of the availability block.'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: journals
                    in: query
                    description: 'journals that belong to this Calendar.'
                    required: false
                    schema:
                        type: object
                        properties:
                            event:
                                _list: '/admin/objects?_self.schema.id=878a55a6-2903-4909-a3b3-c237d68d1f59'
                                type: object
                                nullable: true
                            resource:
                                type: string
                                description: 'A specific commonground resource.'
                                nullable: true
                            comments:
                                type: array
                                description: 'The urls of the comments that belong to this event.'
                                nullable: true
                            categories:
                                type: array
                                description: 'The urls of the catergories this event belongs to.'
                                nullable: true
                            attachments:
                                type: array
                                description: 'The urls of the attachments of this event.'
                                nullable: true
                            attendees:
                                type: array
                                description: 'The urls of the attendees of this event.'
                                nullable: true
                            priority:
                                type: integer
                                description: 'The priority of this event ranging from 1 (high) to 9 (low).'
                                nullable: true
                            seq:
                                type: integer
                                description: 'The version number of this event.'
                                nullable: true
                            duration:
                                type: string
                                format: duration
                                description: 'The duration of this event.'
                                nullable: true
                            transp:
                                type: string
                                description: 'The determination if the event should block the duration of the event for participants.'
                                nullable: true
                            summary:
                                type: string
                                description: 'The summary of this event.'
                                nullable: true
                            status:
                                type: string
                                description: 'The status of this event.'
                                nullable: true
                            organiser:
                                type: string
                                description: 'The organiser of this event linked to with an url.'
                                nullable: true
                            class:
                                type: string
                                description: 'The security class of this event.'
                                nullable: true
                            endDate:
                                type: string
                                format: datetime
                                description: 'The moment this event ends.'
                                nullable: true
                            startDate:
                                type: string
                                format: datetime
                                description: 'The moment this event starts.'
                                nullable: true
                            description:
                                type: string
                                description: 'An short description of this Event.'
                                nullable: true
                            name:
                                type: string
                                description: 'The name of this RequestType.'
                                nullable: true
                            id:
                                type: string
                                format: uuid
                                nullable: true
                -
                    name: freebusies
                    in: query
                    description: 'that belong to this Calendar.'
                    required: false
                    schema:
                        type: object
                        properties:
                            schedule:
                                _list: '/admin/objects?_self.schema.id=3ff869c8-b2e6-45a5-af79-0b79c302bc0f'
                                type: object
                                description: 'Schedule that belongs to this freebusy'
                                nullable: true
                            event:
                                _list: '/admin/objects?_self.schema.id=878a55a6-2903-4909-a3b3-c237d68d1f59'
                                type: object
                                nullable: true
                            calendar:
                                _list: '/admin/objects?_self.schema.id=43810103-3e3e-4f26-ab27-c64146768b98'
                                type: object
                                nullable: true
                            resource:
                                type: string
                                description: 'A specific commonground resource.'
                                nullable: true
                            freebusy:
                                type: string
                                description: 'The determination of the type freebusy. **FREE**, **BUSY**'
                                nullable: true
                            organiser:
                                type: string
                                description: 'The organiser of this event linked to with an url.'
                                nullable: true
                            endDate:
                                type: string
                                format: datetime
                                description: 'The moment this event ends.'
                                nullable: true
                            startDate:
                                type: string
                                format: datetime
                                description: 'The moment this event starts.'
                                nullable: true
                            contact:
                                type: string
                                description: 'Url of this person.'
                                nullable: true
                            comments:
                                type: array
                                description: 'The urls of the comments that belong to this event.'
                                nullable: true
                            attendee:
                                type: string
                                description: 'The urls of the attendees of this event.'
                                nullable: true
                            description:
                                type: string
                                description: 'An short description of this Event.'
                                nullable: true
                            id:
                                type: string
                                format: uuid
[...]
